* {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif
}

@font-face {
    font-family: 'Logo';
    src: url('../fonts/BebasNeue Bold.otf');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
}

#homepage {
    background-color: #151515;

    /* The image used */
    background-image: url("../images/bg.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-block {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-block label {
    color: #fff;
}

.btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block .form-block {
    margin-top: 30px;
}

.main-block .form-block input {
    margin-bottom: 15px;
}

.main-block h1{
    color: #fff;
    font-family: Logo;
    font-size: 60px;
}

.has-error {
    color: #d9534f;
}

.hp-btn {
    display: block;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background: #AAA;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 3.5;
    text-transform: uppercase;
    margin: 10px;
}

.hp-btn:hover {
    text-decoration: none;
    color: #fff;
}

.hp-login {
    background-color: #3aac36;
}

.hp-register {
    background-color: #3169c2;
}
