@font-face {
    font-family: 'Logo';
    src: url('../fonts/BebasNeue Bold.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif
}

html {
    height: 100%;
}

body {
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
}

.colored_table {
    border-radius: 10px;
    background-color: #fff;
    border: 0;
    overflow: hidden;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border: 0;
}

table.payment-history tr td:nth-child(1), table.payment-history tr th:nth-child(1) {
    text-align: center;
}

table.payment-history tr td:nth-child(2),
table.payment-history tr th:nth-child(2),
table.payment-history tr td:nth-child(3),
table.payment-history tr th:nth-child(3) {
    text-align: right;
}

table.payment-history tr td:nth-child(4),
table.payment-history tr th:nth-child(4) {
    text-align: center;
}

.colored_table thead tr {
    background-color: #36304a;
    color: #fff;
    height: 50px;
    vertical-align: middle;
    font-weight: 100;
}

.colored_table thead tr th {
    vertical-align: middle;
    font-weight: 400;
}

.colored_table .table-head {

}

.colored_table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.colored_table tbody tr:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    color: black;
}

.colored_table tbody {
    color: #808080;
}

.colored_table tbody tr td {
    vertical-align: middle;
}

#paymentReportBtn {
    float: right;
}

.tax-history-hrn-rate {
    font-size: 10px;
    color: gray;
}

.user-block {
    text-align: right;
}

.user-block * {
    margin: 0;
}

.user-block h4 {
    padding-top: 5px;
}

.user-block p {
    padding-bottom: 5px;
}

.cmt-card, .modal-content {
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .03);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

.modal-header, .modal-footer {
    border: none;
}

.navbar {
    border-radius: 0;
    background-color: #36314a;
    border: none;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
    color: #a5a5a5;
}

.navbar.navbar-default .navbar-brand {
    font-family: Logo;
    color: #fff;
    font-size: 35px;
    line-height: 0.8;
}

#new-payment-form label{
    color: #fff;
}