<ul>
    <li><a href="/">Main Page</a></li>
    <li><a href="/chart/usd">USD</a></li>
    <li><a href="/chart/euro">EURO</a></li>
    <li><a href="/chart/rur">RUR</a></li>
    <li><a href="/chart/btc">BTC</a></li>
</ul>