{% extends "base.html.twig" %}

{% block body %}
    {% include 'currency/menu.html.twig' %}
    <!-- remember to give width and height to your graph containers -->
    <div class="container">
        <div class="row">
            <h2>Payments chart</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="chart"></div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var objChart = JSON.parse('{{ jsonPaymentsChart|raw }}');
        var chart = Object.keys(objChart).map(function (key) {
            return [Number(key) + ' Квартал', objChart[key], '#4747ec'];
        });
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/paymentChart.js') }}"></script>
{% endblock %}