{% extends "base.html.twig" %}

{% block body %}
    {% include 'currency/menu.html.twig' %}
    <div class="container">
                <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Registration date</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.lastLogin.date }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}