<div class="col-lg-2 pull-right user-block">
    {% if app.user is not null %}
        <h4>{{ app.user.username }}!</h4>
        <p>
            <a href="{{ logout_path('main') }}">Выйти</a>
        </p>
    {% else %}
        <h2>Приветствую, Путник!</h2>
        <p>
            <a href="{{ path('fos_user_security_login') }}">Логин</a>
            /
            <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
        </p>
    {% endif %}
</div>
